<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link type = "text/css" rel = "stylesheet" href = "../style/css/style.css"/>
		<title>About Me </title>
	</head>
	<body>
		<header>
			<a href = "index.html">Home</a>
			<a href = "about.html">About Me</a>
			<a href = "contact.html">Contact Me</a>
		</header>
		<div id = "main">

			<div id = "introduction">
			<h4>
				Nice to meet you!
			</h4>
			<p> <img id = "tree" src="../images/tree.JPG" alt="me" width="680px" align= "left">
				Traveler. Editor. Coder. <br>
				Hello! My name is Rachel Kim and I'm currently a uprising senior
		 		at Cal!</p>
			<p> I am majoring in Cognitive Science and with an emphasis in
					Computational Modeling and minor in Computer Science.

					Aside from academics, some of my hobbies include playing squash,
					cooking, watching movies, editing, and taking pictures! Although,
					I am new to most of these hobbies, I enjoy spending time with my
					friends as I develop these skills!
			</p>

		<footer>
			<a href = "index.html">Home</a>
			<a href = "about.html">About Me</a>
			<a href = "contact.html">Contact Me</a>
		</footer>
	</body>
</html>
