<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../style/css/style.css"/>
		<header>
	    <a href = "index.html">Home</a>
	    <a href = "about.html">About Me</a>
	    <a href = "contact.html">Contact Me</a>
	  </header>
		<title> Summer Project </title>
		<h1 style="color:red"> Error! </h1>

  </head>
	<body>
		<h3> Sorry but the content is private. To gain access for this specific
			project, please contact me! <br>
		Thank you! </h3>
		<footer>
	    <a href = "index.html">Home</a>
	    <a href = "about.html">About Me</a>
	    <a href = "contact.html">Contact Me</a>
	  </footer>
	</body>
