<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../style/css/style.css"/>
  <header>
    <a href = "index.html">Home</a>
    <a href = "about.html">About Me</a>
    <a href = "contact.html">Contact Me</a>
  </header>
  <title>Summer Project</title>
  <h1> Welcome </h1>

</head>
<body>
  <div id="work" >
    <h3> Work </h3>
    <p>Below are some descriptions of projects that I have worked on throughout
      the past couple of years! </p>
    <a href="error.html">
    <div class = "first">
      <img id = "maps" src="../images/maps.JPG" alt="maps" style= "width:320px; height:300"/>
    <div class= "message">
        <span> Bear Maps (Java) <br><br>
          Back end of a webserver that uses real world mapping by combining
          tile images and map features
        </span>
      </div>
    </div>
    <div class = "first">
      <img id = "website" src="../images/website.JPG" alt="website" style= "width:320px; height:300"/>
    <div class= "message">
      <span> Created a website from scratch using HTML, CSS, Javascript </span>
    </div>
  </div>

  <div class = "first">
    <img id = "lock" src="../images/lock.JPG" alt="lock" style= "width:320px; height:50%px"/>
    <div class= "message">
      <span> Lock Manager (Java)<br><br>
        Created an API that processes objects sequentially in a database that
        follows the logic for table and page level locking
      </span>
    </div>
  </div>
  <br>
  <div class = "first">
      <img id = "ants" src="../images/ants.png" alt="ants" style= "width:320px; height:300"/>
    <div class= "message">
      <span> Tower Defense game: Ants (Python) <br><br>
        Combines functional and object-oriented programming pardigms
      </span>
    </div>
  </div>
  <div class = "first">
      <img id = "scheme" src="../images/scheme.png" alt="scheme" style= "width:320px; height:300"/>
    <div class= "message">
      <span> Scheme (Python)<br> <br>
        Designed and developed an interpreter for Scheme language
      </span>
    </div>
  </div>
  <div class = "first">
      <img id = "yelp" src="../images/yelp maps.png" alt="yelp" style= "width:320px; height:100"/>
    <div class= "message">
      <span>Maps <br> <br>
        Finds the closest restuarants based on Yelp Database by using machine
        learning.
      </span>
    </div>
  </div>
  <br>
  <div class = "first">
        <img id = "hog" src="../images/hog.jpg" alt="hog" style= "width:320px; height:300"/>
    <div class= "message">
      <span> Hog Dice Game in Python <br> <br>
        A stimulator that computes strategies for the dice game.
      </span>
    </div>
  </div>
  </a>
</div>

<div id="Hobbies" >
  <h3> Pictures! </h3>
  <img id = "korea" src="../images/korea.JPG" style = "width=192px; height:128px"/>
  <img id = "tree" src="../images/tree.jpg" style = "width=192px; height:128px"/>
  <img id = "flowers" src="../images/flowers.JPG" style = "width=192px; height:128px"/>
  <img id = "alone" src="../images/alone.JPG" style = "width=192px; height:128px"/>
  <img id = "squash" src="../images/squash.JPG" style = "width=192px; height:128px"/>
  <br>
  <img id = "bread" src="../images/bread.JPG" style = "width=192px; height:128px"/>
  <img id = "winter" src="../images/winter.JPG" style = "width=192px; height:128px"/>
  <img id = "burger" src="../images/burger.JPG" style = "width=192px; height:128px"/>
  <img id = "road" src="../images/road.JPG" style = "width=192px; height:128px"/>
  <img id = "android" src="../images/android.JPG" style = "width=192px; height:128px"/>

</div>
<br>

  <footer>
    <a href = "index.html">Home</a>
    <a href = "about.html">About Me</a>
    <a href = "contact.html">Contact Me</a>
  </footer>
</body>
